.card-container {
    border-bottom: 1px solid var(--primary-gray);
    padding-block: 1rem;
}

.card-container .card-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.card-container .card-content {
    margin-block: 1rem;
}

.card-container .card-header .profile {
    background-color: black;
    border-radius: 9999px;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.card-container .card-header .profile-info {
    flex: 1;
}

.card-container .card-footer {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    
}

.card-container .edit-textarea {
    width: 100%;
    border: 1px solid var(--primary-gray);
    padding: 1rem;
    border-radius: var(--rounded-lg);
}

.card-container .save-edit-container {
    display: flex;
    gap: 1rem;
}